<div class="col-md-3">
  <div class="side_bar">
    <!-- プロフィール -->
    <%= render 'users/profile' %>

    <!-- イベント検索 -->
    <%= search_form_for @q_blog, as: :date_search, url: blogs_path do |f| %>
      <div class="row">
        <div class="col-md-11">
          <div class="search_title">ライブ日検索</div>
          <div class="search_form">
            <%= f.date_field :event_held_on_gteq, max: Date.current %>
            <div class="line" >×</div>
            <%= f.date_field :event_held_on_lteq, max: Date.current %>
          </div>
        </div>
        <div class="search_btn col-md-11">
          <%= f.submit '検索', class: "btn" %>
        </div>
      </div>
    <% end %>

    <!-- ライブハウス検索窓 -->
    <%= render 'layouts/livehouse_search', { q_livehouse: @q_livehouse, path: user_path(current_user.id) } %>

    <!-- ライブハウス検索結果 -->
    <div id="livehouses_area">
      <%= render 'layouts/result_livehouse_search', { livehouses: @livehouses, q_livehouse: @q_livehouse } %>
    </div>
  </div>
</div>

  <!-- ブログ一覧 -->
<div class="col-md-9">
  <div class="row">
    <div class="col-12">
      <div class="title_con">
        <div class="title">ブログ</div>
        <%= link_to "新規作成", new_blog_path, class:"new_btn" %>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
      </div>
      <% if current_user.blogs.blank? %>
        <div>まだブログの作成がありません。</div>
      <% end %>
      <div class="blog_schedule row">
        <%= render "schedule", { blogs: @blogs} %>
      </div>
      <%= link_to_next_page @blogs, 'さらに表示', remote: true, id: 'more_link' %>
    </div>
  </div>
</div>
