<div class="col-md-3">
  <!-- プロフィール -->
  <%= render 'profile' %>


  <!-- ライブハウス検索窓 -->
  <%= render 'search' %>

  <!-- ライブハウス検索結果 -->
  <div id="livehouses_area">
    <%= render 'livehouses/index', { result_livehouses: @result_livehouses, q_livehouse: @q_livehouse } %>
  </div>
</div>

  <!-- ブログ一覧 -->
<div class="col-md-9">
  <div class="row">
    <div class="col-12">
      <div class="title_icon">
        <div class="title">ブログ</div>
        <%= link_to "新規作成", new_blog_path, class:"new_btn" %>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
      </div>
      <% if current_user.blogs.blank? %>
        <div>まだブログの作成がありません。</div>
      <% end %>
      <div class="blog_schedule row">
        <%= render "schedule", { blogs: @blogs} %>
      </div>
      <%= link_to_next_page @blogs, 'さらに表示', remote: true, id: 'more_link' %>
    </div>
  </div>
</div>
