<div class="col-lg-3">
<!-- プロフィール -->
  <div class="row">
    <div class="user_profile">
      <div class="col-lg-5">
        <% if current_user.image? %>
          <%= image_tag current_user.image.url,class:"img" %>
        <% else %>
          <%= image_tag "default.png",class:"img" %>
        <% end %>
      </div>
      <div class="col-lg-7">
        <div class="article">
          <div class="name"><%= current_user.name %></div>
          <div class="display_name">@<%= current_user.display_name %></div>
          <%= link_to "編集", edit_user_registration_path(current_user.id), class: "edit_btn" %>
        </div>
      </div>
    </div>
  </div>


  <!-- ライブハウス検索窓 -->
  <%= search_form_for @q_livehouse, url: user_path(current_user.id), remote: true do |f| %>
    <div class="search_livehouse">
      <%= f.collection_select :place_id_eq, Place.all, :id, :prefecture_area, include_blank: "ライブハウス検索" %>
      <%= f.submit '検索', class: "search_btn" %>
    </div>
  <% end %>

  <!-- ライブハウス検索結果 -->
  <div id="livehouses_area">
    <%= render 'livehouses/index', { result_livehouses: @result_livehouses, q_livehouse: @q_livehouse } %>
  </div>
</div>



<div class="blog_show col-lg-9">
  <!-- ブログ投稿 -->
    <div class="title">
      <%= @blog.title %> 
    </div>
    <hr>
    <div class="created">
      <%= @blog.created_at.strftime(" %Y/%-m/%d %H:%M") %> 
    </div>
    <div class="event_info">
      <%= @blog.event.held_on.strftime('%Y/%-m/%d') %> 
      <%= @blog.event.title %> 
    </div>
    <div class="content">
      <%= @blog.content %> 
    </div>
    <div class="imgs">
      <div class="row">
        <% @blog.images.each do |image| %>
          <div class="img_parent col-xl-3 col-lg-4 col-md-6 mb-4">
            <%= image_tag image.url,class:"img" %>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <%= %> 
    </div>
    <div class="btns">
      <%= link_to "戻る", 'javascript:history.back()',class:"back" %>
    </div>  
</div>