<%= image_tag "top_img.png", class: "top_img" %>

<div class="edit col-sm-6 col-lg-6 col-xl-5"> 

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="title">
    <%= t('.title', resource: resource.model_name.human) %>
  </div>
  
  <div class="name">
    <div><%= f.label :name, "お名前" %></div>
    <%= render "devise/shared/error_messages", resource: resource, attribute: :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="display_name">
    <div><%= f.label :display_name %></div>
    <div class="notes">半角英数字,アンダースコア(_)のみ</div>
    <%= render "devise/shared/error_messages", resource: resource, attribute: :display_name %>
    <%= f.text_field :display_name %>
  </div>

  <div class="email">
    <div><%= f.label :email %></div>
    <%= render "devise/shared/error_messages", resource: resource, attribute: :email %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="password">
    <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="password_confirmation">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="image">
    <% if @user.image? %>
      <div class="icon"><%= image_tag @user.image.url %></div>
    <% else %>
      <div class="icon"><%= image_tag "default.png" %></div>
    <% end %>  
    <div class="select">
      <%= f.label :image, "画像選択" %>
      <div class="notes">JPG,JPEG,GIF,PNGのみ</div>
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="submit">
    <%= f.submit t('.update'),class:"button" %>
  </div>
<% end %>

<p><%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "delete_btn" %></p>

<%= link_to t('devise.shared.links.back'), :back, class: "back_btn" %>
