<%= image_tag "top_img.png", class: "top_img" %>

<div class="sign_up col-sm-6 col-lg-6 col-xl-5">  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="title">
        <%= t('.sign_up') %>
      </div>

    <div class="name">
      <div><%= f.label :name, "お名前" %></div>
      <%= render "devise/shared/error_messages", resource: resource, attribute: :name %>
      <%= f.text_field :name, autofocus: true, placeholder: "お名前" %>
    </div>

    <div class="display_name">
      <div><%= f.label :display_name %></div>
      <div class="notes">半角英数字,アンダースコア(_)のみ</div>
      <%= render "devise/shared/error_messages", resource: resource, attribute: :display_name %>
      <%= f.text_field :display_name, placeholder: "ユーザー名" %>
    </div>
    
    <div class="email">
      <div><%= f.label :email %></div>
      <%= render "devise/shared/error_messages", resource: resource, attribute: :email %>
      <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス" %>
    </div>

    <div class="password">
      <div><%= f.label :password %></div>
      <%= render "devise/shared/error_messages", resource: resource, attribute: :password %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード" %>
    </div>

    <div class="password_confirmation">
      <div><%= f.label :password_confirmation %></div>
      <%= render "devise/shared/error_messages", resource: resource, attribute: :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)" %>
    </div>

    <div class="image">
      <div><%= f.label :image, "アイコン画像選択" %></div>
      <div class="notes">JPG,JPEG,GIF,PNGのみ</div>
      <%= f.file_field :image %>
    </div>

    <div class="submit">
      <%= f.submit t('.sign_up'),class:"button" %>
    </div>
  <% end %>
</div>
