<div class="col-lg-3">
  <div class="user_profile row">
    <div class="col-sm-6 col-lg-6">
      <% if @user.image? %>
        <%= image_tag @user.image.url,class:"img" %>
      <% else %>
        <%= image_tag "default.png",class:"img" %>
      <% end %>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div><%= @user.name %></div>
      <div><%= @user.display_name %></div>
      <%= link_to "編集", edit_user_registration_path(@user.id) %>
    </div>
  </div>

  <div>
    <div><%= link_to "ライブ予定", user_path(current_user.id) %></div>
    <div><%= link_to "参加記録", past_joins_user_path(current_user.id) %></div>
    <div><%= link_to "ブログ", blogs_path %></div>
  </div>
</div>

<div class="col-lg-9">
  <div>参加記録</div>
    <div id="schedule">
    <% if @events.blank? %>
      <div>参加したイベントはありません。</div>
    <% end %>
    <div class="schedule row" >
      <%= render "schedule", { events: @events} %> 
    </div>
    <%= link_to_next_page @events, 'もっとみる', remote: true, id: 'more_link' %>
  </div>
</div>