<div class="nav flex-column">
  <div>
    <div>プロフィール</div>

    <% if @user.image? %>
      <div><%= image_tag @user.image.url(:thumb100) %></div>
    <% else %>
      <div><%= image_tag "default.png" %></div>
    <% end %>
    
    <div><%= @user.name %></div>
    <div><%= @user.display_name %></div>
    <%= link_to "編集", edit_user_registration_path(@user.id) %>
  </div>

  <div>
    <div><%= link_to "ライブ予定", user_path(current_user.id) %></div>
    <div><%= link_to "参加記録", past_joins_user_path(current_user.id) %></div>
    <div><%= link_to "ブログ" %></div>
  </div>

  <div>ライブ予定</div>
  <% @events.each do |event| %>
    <div class="d-flex flex-row bd-highlight mb-1">
      <div class="card" style="width: 8rem;">
        <div class="card-body">
          <div>
            <%= event.held_on.strftime("%Y") %>
          </div>
          <div>
            <%= event.held_on.strftime("%m.%d") %>
          </div>
          <div>
            <%= event.held_on.strftime("%a") %>
          </div>
        </div>
      </div>
      <div class="card" style="width: 40rem;">
        <div class="card-body detail", id="<%= event.id %>">
          <div>
            <%= event.title %>
          </div>
          <div>
            <%= event.artist %>
          </div>
          <%= link_to "詳細",livehouse_event_path(event.livehouse_id,event.id) %>
        </div>
      </div>
    </div>
  <% end %>
</div>