<div class="col-md-3">

<!-- プロフィール -->
  <div class="user_profile">
    <div class="row">
      <div class="col-md-5">
        <% if @user.image? %>
          <%= image_tag @user.image.url,class:"img" %>
        <% else %>
          <%= image_tag "default.png",class:"img" %>
        <% end %>
      </div>
      <div class="col-md-7">
        <div class="article">
          <div class="name"><%= @user.name %></div>
          <div class="display_name">@<%= @user.display_name %></div>
          <%= link_to "編集", edit_user_registration_path(@user.id), class: "edit_btn" %>
        </div>
      </div>
    </div>
  </div>

  <!-- 期間検索 -->
  <%= search_form_for @q_event, as: :date_search, url: user_path(current_user.id) do |f| %>
    <div class="search_title">期間検索</div>
    <div class="row">
      <div class="col-lg-10">
        <div class="search_form">
          <%= f.date_field :held_on_gteq %>
          <div class="line" >〜</div>
          <%= f.date_field :held_on_lteq %>
        </div>
      </div>
      <div class="search_btn col-lg-2">
        <%= f.submit '検索', class: "btn" %>
      </div>
    </div>
  <% end %>

  <!-- ライブハウス検索窓 -->
  <%= search_form_for @q_livehouse, url: user_path(current_user.id), remote: true do |f| %>
    <div class="search_title">ライブハウス検索</div>
    <div class="row">
      <div class="col-lg-10">
        <%= f.collection_select :place_id_eq, Place.all, :id, :prefecture_area, include_blank: "ライブハウス検索" %>
      </div>
      <div class="livehouse_search_btn col-lg-2">
        <%= f.submit '検索', class: "livehouse_btn" %>
      </div>
    </div>
  <% end %>

  <!-- ライブハウス検索結果 -->
  <div id="livehouses_area">
    <%= render 'livehouses/index', { result_livehouses: @result_livehouses, q_livehouse: @q_livehouse } %>
  </div>
</div>


<div class="col-md-9">


<!-- ライブ予定一覧 -->
<div class="row">
  <div class="schedule">
    <div class="schedule_title">
      <div class="col-12">
        <div class="schedule">
          <% if @events_future.blank? %>
            <div>参加予定のイベントはありません。</div>
          <% end %>
          <div class="schedule_future row" >
            <%= render "layouts/schedule", { events: @events_future} %> 
          </div>
          <%= link_to_next_page @events_future, 'さらに表示', remote: true, id: 'more_link' %>
        </div>
      </div>
    </div>
  </div>
</div>

