<div class="col-md-3">

  <div class="side_bar">
    <!-- プロフィール -->
    <%= render 'profile' %>

    <!-- 期間検索 -->
     <%= render 'livehouses/period_search', { q_event: @q_event, path: user_path(current_user.id), limit: { min: Date.current } } %>

    <!-- ライブハウス検索窓 -->
    <%= render 'livehouses/search', { q_livehouse: @q_livehouse, path: user_path(current_user.id)} %>

    <!-- ライブハウス検索結果 -->
    <div id="livehouses_area">
      <%= render 'livehouses/index', { result_livehouses: @result_livehouses, q_livehouse: @q_livehouse } %>
    </div>
  </div>
</div>


<div class="col-md-9">

  <!-- スケジュール一覧 -->
  <div id="schedule">
    <% if @events_future.blank? %>
      <div>参加予定のイベントはありません。</div>
    <% end %>
    <div class="schedule_future row" >
      <%= render "layouts/schedule", {events: @events_future} %> 
    </div>    
    <%= link_to_next_page @events_future, 'さらに表示', remote: true, id: 'more_link' %>
  </div>
</div>

