<div class="col-lg-3">
<!-- プロフィール -->
  <div class="row">
    <div class="user_profile">
      <div class="col-lg-5">
        <% if @user.image? %>
          <%= image_tag @user.image.url,class:"img" %>
        <% else %>
          <%= image_tag "default.png",class:"img" %>
        <% end %>
      </div>
      <div class="col-lg-7">
        <div class="article">
          <div class="name"><%= @user.name %></div>
          <div class="display_name">@<%= @user.display_name %></div>
          <%= link_to "編集", edit_user_registration_path(@user.id), class: "edit_btn" %>
        </div>
      </div>
    </div>
  </div>

  <!-- サイドバー選択 -->
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-future-tab" data-toggle="pill" href="#v-pills-future" role="tab" aria-controls="v-pills-future" aria-selected="true">ライブ予定</a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">参戦記録</a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">ブログ</a>
  </div>

  <!-- ライブハウス検索窓 -->
  <%= search_form_for @q_livehouse, url: user_path(current_user.id), remote: true do |f| %>
    <div class="search_livehouse">
      <%= f.collection_select :place_id_eq, Place.all, :id, :prefecture_area, include_blank: "ライブハウス検索" %>
      <%= f.submit '検索', class: "search_btn" %>
    </div>
  <% end %>

  <!-- ライブハウス検索結果 -->
  <div id="livehouses_area">
    <%= render 'livehouses/index', { result_livehouses: @result_livehouses, q_livehouse: @q_livehouse } %>
  </div>
</div>

<div class="col-lg-9">
  <div class="article_top row">
    <div class="title">ライブ予定</div>
    <!-- 期間検索 -->
    <%= search_form_for @q_event, as: :date_search, url: user_path(current_user.id) do |f| %>
      <div class="search_form">
        <%= f.date_field :held_on_gteq %>
        <div class="line" >〜</div>
        <%= f.date_field :held_on_lteq %>
        <%= f.submit '検索', class: "search_btn" %>
      </div>
    <% end %>
  </div>


<!-- ライブ予定一覧 -->
<div class="row">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-future" role="tabpanel" aria-labelledby="v-pills-future-tab">
      <% if @events_future.blank? %>
        <div>参加予定のイベントはありません。</div>
      <% end %>
      <div class="schedule_future row" >
        <%= render "schedule", { events: @events_future} %> 
      </div>
      <%= link_to_next_page @events_future, 'もっとみる', remote: true, id: 'more_link' %>
    </div>

    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
      <% if @events_past.blank? %>
        <div>参加したイベントはありません。</div>
      <% end %>
      <div class="schedule_past row" >
        <%= render "schedule", { events: @events_past} %> 
      </div>
      <%= link_to_next_page @events_past, 'もっとみる', remote: true, id: 'more_link' %>
    </div>

    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
    </div>
  </div>
</div>

