<div class="nav flex-column">
  <div>
    <div>プロフィール</div>

    <% if @user.image? %>
      <div><%= image_tag @user.image.url(:thumb100) %></div>
    <% else %>
      <div><%= image_tag "default.png" %></div>
    <% end %>
    
    <div><%= @user.name %></div>
    <div><%= @user.display_name %></div>
    <%= link_to "編集", edit_user_registration_path(@user.id) %>
  </div>

  <div>
    <div>ライブ予定</div>
    <div>参加記録</div>
    <div>ブログ</div>

  </div>

</div>