
  <% result_events.each do |event| %>
    <div class="col-lg-4 col-md-6 mb-4" style="height: 15rem">
      <div class="card text-center border-danger">
        <div class="card-header">
          <%= event.held_on.strftime("%Y.%m.%d.%a") %>
        </div>
        <div class="card-body detail", id="<%= event.id %>">
          <%= event.title %>
        </div>
        <div>
          <%= event.artist.truncate(50, omission: '...他多数!') %>
        </div>
        <div>
          <%= link_to "詳細",livehouse_event_path(event.livehouse_id,event.id) %>
          <span id="join_<%= event.id %>">
            <%= render 'joins/select', { event: event } %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
