<div class="col-lg-3">
  <div class="">
    <%= search_form_for @q_livehouse, url: livehouse_events_path(@livehouse) do |f| %>
      <div>
        <%= f.label "ライブハウス検索" %>
      </div>
      <div>
        <%= f.collection_select :place_id_eq, Place.all, :id, :prefecture_area %>
      </div>
      <%= f.submit '検索' %>
    <% end %>
    <%= search_form_for @q_event, as: :date_search, url: livehouse_events_path(@livehouse,q: {place_id_eq: @livehouse.place_id}) do |f| %>
      <div>
        <%= f.date_field :held_on_gteq %>
        <span>~</span>
        <%= f.date_field :held_on_lteq %>
      </div>
      <%= f.submit '検索' %>
    <% end %>


    <ul class="">
      <% @result_livehouses.each do |livehouse| %>
        <li class="">
          <%= link_to "#{livehouse.name}", livehouse_events_path(livehouse.id,q: {place_id_eq: livehouse.place_id}) %>
          <span id="favorite_<%= livehouse.id %>"><%= render 'events/livehouse', { livehouse: livehouse } %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="col-lg-9">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="true">スケジュール</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="livehouse-tab" data-toggle="tab" href="#livehouse" role="tab" aria-controls="livehouse" aria-selected="false">ライブハウス情報</a>
    </li>
  </ul>


  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active row" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
        <div class="schedule row" >
          <%= render "schedule", {result_events: @result_events} %> 
        </div>    
        <%= link_to_next_page @result_events, 'もっと見る', remote: true, id: 'more_link' %>
    </div>

    <div class="tab-pane fade" id="livehouse" role="tabpanel" aria-labelledby="livehouse-tab">
      <div>
        <%= @livehouse.name %>
      </div>
      <div>
        <%= @livehouse.address %>
      </div>
      <div>
        <%= link_to "ホームページ", @livehouse.url %>
      </div>
      <div>
        <%= @livehouse.nearest_station %>
      </div>
      <%# <div id='map'></div> %>
    </div>
  </div>
</div>

<script>
  let map
  let geocoder

  function initMap(){
    geocoder = new google.maps.Geocoder()
    
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @livehouse.latitude %>, lng: <%= @livehouse.longitude %>},
      zoom: 15,
      mapTypeControl: false, 
      streetViewControl: false
    });

    marker = new google.maps.Marker({
      position:  {lat: <%= @livehouse.latitude %>, lng: <%= @livehouse.longitude %>},
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API_KEY"] %>&callback=initMap" async defer></script>