<div class="event_detail">
  <div class="row">
    <div class="col-sm-12">
      <div class="date">
        <%= @event.held_on.strftime("%Y年%m月%d日(%a)") %>
      </div>
      <div class="title">
        <%= @event.title %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="table_form col-lg-6">
      <table class="table table-bordered">
        <tr>
          <td>開場／開演</td>
          <th><%= @event.open %> ／ <%= @event.start %></th>
        </tr>
        <tr>
          <td>チケット代</td>
          <th><%= @event.price %>円</th>
        </tr>
        <tr>
          <td>出演者</td>
          <th><%= h(@event.artist).gsub("/", "</br>").html_safe %></th>
        </tr>
        <tr>
          <td>URL</td>
          <th><%= link_to "イベント詳細ページへ", "#{@event.url}" %></th>
        </tr>
      </table>
    </div>

    <div class="comments col-lg-6">
      <p>チャット</p>
      <div class="comments_field">
        <div class="comments_area">
          <%= render 'index', { comments: @comments } %>
        </div>
      </div>
      <% if user_signed_in? %>
        <div id="comment_form">
          <%= render 'form', { livehouse: @livehouse, event: @event, comment: @comment } %>
        </div>
      <% end %>
    </div>
  </div>
</div>