<div class="event_detail">
  <div class="">
    <div class="top col-sm-6">
      <div class="date">
        <span class="year"><%= @event.held_on.strftime("%Y") %></span>
        <span class="day"><%= @event.held_on.strftime("%-m.%d") %></span>
        <span class="week"><%= @event.held_on.strftime("%a") %></span> 
      </div>
      <hr>
      <div class="title">
        <%= @event.title %>
      </div>
      <div class="livehouse_name">
        at.<%= @event.livehouse.name %>
      </div>
    </div>
  </div>

  <div class="">
    <div class="table_form col-lg-7">
      <table class="table table-bordered">
        <tr>
          <td>開場／開演</td>
          <td><%= @event.open %> ／ <%= @event.start %></td>
        </tr>
        <tr>
          <td>チケット代</td>
          <td><%= @event.price %>円</td>
        </tr>
        <tr>
          <td>出演者</td>
          <td><%= h(@event.artist).gsub("/", "</br>").html_safe %></td>
        </tr>
        <tr>
          <td>URL</td>
          <td><%= link_to "イベント詳細ページ", "#{@event.url}" %></td>
        </tr>
      </table>
    </div>

    <div class="comments col-lg-5">
      <div class="comments_field">
        <div class="comment_title">チャット</div>
        <div class="comments_area">
          <%= render 'index', { comments: @comments } %>
        </div>
      </div>
      <% if user_signed_in? %>
        <div id="comment_form">
          <%= render 'form', { livehouse: @livehouse, event: @event, comment: @comment } %>
        </div>
      <% end %>
    </div>
  </div>
</div>