
<div>
  <%= @event.held_on.strftime("%Y年%m月%d日(%a)") %>
</div>
<div>
  <%= @event.title %>
</div>

<div class="d-flex flex-row">
  <div class="nav flex-column">
    <table class="table table-bordered">
      <tr>
        <td>開場／開演</td>
        <td><%= @event.open %>／<%= @event.start %></td>
      </tr>
      <tr>
        <td>チケット代</td>
        <td><%= @event.price %>円</td>
      </tr>
      <tr>
        <td>出演者</td>
        <td><%= h(@event.artist).gsub("/", "</br>").html_safe %></td>
      </tr>
      <tr>
        <td>リンク</td>
        <td><%= link_to "イベント詳細ページ", "#{@event.url}" %></td>
      </tr>
    </table>
  </div>

  <div>
    <p>コメント</p>
    <div class="overflow-auto" style="width:300px; height:300px;">
      <div id="comments_area">
        <%= render 'index', { comments: @comments } %>
      </div>
    </div>
    <% if user_signed_in? %>
      <div id="comment_form">
        <%= render 'form', { livehouse: @livehouse, event: @event, comment: @comment } %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "戻る", 'javascript:history.back()' %>