<div class="d-flex flex-row justify-content-center">

  <div class="nav flex-column">
    <div>
      <%= @event.held_on.strftime("%Y年%m月%d日(%a)") %>
    </div>
    <div>
      <%= @event.title %>
    </div>
    <table class="table table-bordered">
      <tr>
        <td>開場／開演</td>
        <td><%= @event.open %>／<%= @event.start %></td>
      </tr>
      <tr>
        <td>チケット代</td>
        <td><%= @event.price %>円</td>
      </tr>
      <tr>
        <td>出演者</td>
        <td><%= h(@event.artist).gsub("/", "</br>").html_safe %></td>
      </tr>
    </table>
    <%= link_to "戻る", livehouse_events_path(@livehouse.id,anchor: "#{@event.id}") %>
  </div>

  <div>
    <p>コメント</p>
    <div id="comments_area">
      <%= render 'index', { comments: @comments } %>
    </div>
    <% if user_signed_in? %>
      <div id="comment_form">
        <%= render 'form', { livehouse: @livehouse, event: @event, comment: @comment } %>
      </div>
    <% end %>
  </div>

</div>