<%= image_tag "top_img.png", class: "top_img" %>

<div class="sign_in col-sm-6 col-lg-6 col-xl-5">  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="title">
      <%= t('.sign_in') %>
    </div>
    <div class="email">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
    </div>

    <div class="password">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="submit">
      <%= f.submit t('.sign_in'), class: "button" %>
    </div>
  <% end %>
  <%= render "devise/shared/recoverable" %>
</div>
