<!-- 背景画像 -->
<%= image_tag "top_img.png", class: "top_img" %>

<!-- トップロゴ -->
<%= image_tag "top_logo.png", class: "top_logo" %>

<div class="search_form col-sm-7 col-xl-5 ">

<!-- ライブハウス検索窓 -->
  <%= search_form_for @q_livehouse, url: livehouses_path, remote: true do |f| %>
    <div class="search_livehouse">
      <%= f.collection_select :place_id_eq, Place.all, :id, :prefecture_area, include_blank: "ライブハウス検索" %>
      <%= f.submit '検索', class: "search_btn" %>
    </div>
  <% end %>

<!-- ライブハウス検索結果 -->
  <div id="livehouses_area">
    <%= render 'index', { result_livehouses: @result_livehouses, q_livehouse: @q_livehouse } %>
  </div>

  <div class="explanation">
    <div class="title">About</div>
    <div class="content">
      音楽を全身で感じることができるライブハウス<br>
      ふとライブに行きたいと思った時、このアプリで探してみてください<br>
      そこには"非日常"と"出会い"が待ってると思います。<br>
      ライブハウスで会いましょう<br>
    </div>

    <div class="title">How to use</div>
    <div class="content">
      自分の行きたいエリアからライブハウスを検索<br>
      スケジュールから、気になるライブを探してみよう<br>
      ライブの詳細、ライブハウスへの行き方を調べられます
    </div>

    <div class="title">Membership</div>
    <div class="content">
      会員になることで、下記の機能を使用できます<br>
      ライブハウスお気に入り機能<br>
      自分の好きなライブハウス、よく行くライブハウスをお気に入り登録しよう<br>
      コメント機能<br>
      ライブに参加するワクワクや参加した後の感動をみんなで共有しよう<br>
      予定ライブ登録機能<br>
      自分が行く予定のライブを登録しよう<br>
      ブログ機能<br>
      ライブ後の感動を写真と文で残そう
    </div>
  </div>

</div>