<!DOCTYPE html>
<html>
  <head>
    <title>LiVEHOUSE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to "トップ", root_path %>
        <%= link_to "マイページ", user_path(current_user.id) %>
        <%= link_to "お気に入り", favorites_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% if current_user.admin? %>
          <%= link_to "管理者画面", rails_admin_path %>
        <% end %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to 'ゲストログイン(一般用)', users_guest_sign_in_path, method: :post %>
        <%= link_to 'ゲストログイン(管理者用)', users_admin_guest_sign_in_path, method: :post %>
      <% end %>    
    </header>
    <main>
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
    <footer>
    
    </footer>
  </body>
</html>
