<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LiVEHOUSE</title>
    <meta name="description" content="今行きたいライブハウスが見つかる">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%# Javascript %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# CSS %>
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Google %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Patua+One&family=Roboto:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
      <header>
        <div class="wrapper">
          <%= link_to "LiVEHOUSE", root_path, class: "logo"  %>
          <% if user_signed_in? %>
            <nav>
              <button class="btn-menu">Menu</button>
              <ul class="main-nav">
                <li><%= link_to "スケジュール", user_path(current_user.id) %></li>
                <li><%= link_to "記録", past_joins_user_path(current_user.id) %></li>
                <li><%= link_to "ブログ", blogs_path %></li>
                <li><%= link_to "お気に入り", favorites_path %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <li>
                  <% if current_user.admin? %>
                    <%= link_to "管理者画面", rails_admin_path %>
                  <% end %>
                </li>
              </ul>
            </nav>
          <% else %>
            <nav>
              <button class="btn-menu">Menu</button>
              <ul class="main-nav">
                <li><%= link_to "新規登録", new_user_registration_path %></li>
                <li><%= link_to "ログイン", new_user_session_path %></li>
                <li><%= link_to '一般ゲスト', users_guest_sign_in_path, method: :post %></li>
                <li><%= link_to '管理ゲスト', users_admin_guest_sign_in_path, method: :post %></li>
              </ul>
            </nav>
          <% end %> 
        </div>
      </header>
      <main class="<%=controller.controller_name %> <%=controller.action_name %>">
        <%= yield %>
      </main>
      <footer>
        <p><small>&copy; 2022 miyauchi All Rights Reserved.</small></p>
      </footer>
  </body>
</html>
